.skills-zone {
  
    width: 50%;
    height: 100%;
    padding-top: 18%;
    margin-left: 0;
    position: absolute;
    right: 0;
    overflow: hidden;


}

.chart {
  margin-bottom: 2rem;

  span {
    font-size: 18px;
    font-family: sans-serif;
    margin-bottom: 7px;
    display: block;
    color: aliceblue;
  }

  footer {
    background-color: #373737;
    height: 2px;
    width: 80%;

    div {
      background-color: #a1d610;
      height: 100%;
      transition: width 1.3s ease-out;
    }
  }
}