.container.smartcontract-page {
    display: flex;
    flex-direction: row;
    padding-top: 15rem;

    .contract-data {
        margin-left: 12rem;
        margin-right: 1rem;
        width: 50%;
        height: 60%;
        background-color: black;
    }
    
    .swaps-data {
        margin-right: 5rem;
        width: 50%;
        background-color: white;
        height: 60%;
        
    }
}

